.App {
  background: linear-gradient(to bottom, #fc354c, #0abfbc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 16px;
  z-index: 2;
}

.teste {
  width: 14.2%;
  height: 200px;
  padding: 16px;
  border: 0.2px solid #f1f1f2;
}

@media screen and (max-width: 600px) {
  .teste {
    width: 33%;
  }
}



h1.info {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 36px;
}

.teste a {
  color: white;
}

.floatingButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 50%;
  background-color: #df6565;
  color: #f1f1f2;
  text-align: center;
  border: none;
  font-size: 30px;
}

.floatingButton::before {
  content: '+';
}

.floatingButton:hover {
  opacity: 0.97;
  transition: 0.4s;
}

.floatingButton:focus {
  outline: none;
}